<h1>Your Tamagotchis</h1>
<h3>Name your new Tamagotchi:</h3>
<form action="/items" method="post">
  <label for="new-item">Name:</label>
  <input id="new-item" name="new-item" type="text">
  <button type="submit">Submit</button>
</form>
<p><a href='/items'>View Tamagotchis<a/></p>
